// NEWS
.news_list {
    @include flexbox(flex, wrap, space-between, baseline);
    margin-bottom: 30px;
    li {
        flex-basis: 48%;
        border-bottom: 1px dashed lighten($grey, 25%);
        @include table-up-width {
            padding: 40px 0;
        }
        @include phone-width {
            margin-bottom: 30px;
        }
        &:last-child,
        &:nth-last-child(2) {
            border-bottom: none;
            @include phone-width {
		            margin-bottom: 0;
		        }
        }
    }
    .newsbox {
        @include table-up-width {
            @include flexbox(flex, nowrap, flex-start, flex-start);
        }
        @include phone-width {
            @include flexbox(flex, wrap, flex-start, flex-start);
        }
        .moveimg {
            @include table-up-width {
                display: inline-block;
                margin-right: 15px;
                width: 150px;
                flex: 0 0 150px;
            }
            @include phone-width {
                display: block;
                margin-right: 0;
                margin-bottom: 10px;
                width: 100%;
                flex: auto;
            }
            &.pic_43 {
                @include table-up-width {
                    height: calc((150px - 15px) / 5 * 4);
                }
                @include phone-width {
                    height: calc((50vw - 30px) / 4 * 3);
                }
            }
        }
        .caption {
            text-align: left;
            letter-spacing: 1px;
            margin-top: 0;
            p.beige {
                @include rem(font-size, 1.5rem);
            }
            h3 {
                @include rem(font-size, 2.0rem);
                font-weight: 500;
                line-height: 170%;
            }
            .infosay {
                color: darken($grey, 20%);
                @include rem(font-size, 1.5rem);
                @include font-dots(inline-block, 2, 26px);
                word-break: break-all;
                +p {
                    margin-top: 20px;
                    @include phone-width {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

.news_btnlist {
    @include flexbox(flex, nowrap, center, center);
    margin-top: 50px;
    li {
        +li {
            margin-left: 10px;
        }
        a.btn {
            border-radius: 6px;
            line-height: 1.6;
            @include rem(font-size, 1.3rem);
        }
        &:first-child,
        &:last-child {
            >a.btn {
                padding: 3px 8px;
            }
        }
        &:nth-child(2) {
            >a.btn {
                padding: 3px 16px;
            }
        }
    }
}