extend layout/_layout.jade

block top_content
	.container
		.row
			.col-xs-12
				ol.breadcrumb
					li
						a(href='index.html') Mystar
					li.active 404
block content
	.col-xs-12
		.center-block.page404
			h3.beige 404
			p.beige HELLO~您輸入的網址頁面不存在
			p 三秒後會替您轉回明馨首頁
			h4.beige.tit_404 標題
			p 這邊寫文字
		
block lightbox
	//- lightbox
		