extend layout/_layout.jade

block top_content
	.container
		.row
			.col-xs-12
				ol.breadcrumb
					li
						a(href='index.html') Mystar
					li.active 服務條款
block content
	.col-xs-12.col-md-10.col-md-offset-1
		.title.news
			h2 服務條款
		ol.stage
			li
				h3.stage_tit 認知與接受條款
				.textedit
					p 明馨美容企業有限公司購物商城，係依據本服務條款提供本網站商品之設計、製造、販賣及銷售（以下簡稱「本網站」）。
					p 當會員完成本網站之會員註冊手續、或開始使用本服務時，即表示您已完全閱讀、瞭解並同意接受本服務條款及「隱私權保護政策」之全部內容，包括但不限於本網站現有與未來衍生的服務項目及內容。
					p 本網站有權可隨時修訂本條款以及「隱私權保護政策」，並將修訂或變更的內容公佈在本網站的網站上，公佈之日起七日後，該修訂或變更的內容即刻生效，本網站將不會個別通知會員，建議會員隨時注意該等修改或變更。 會員於任何修改或變更後繼續使用本服務時，視為會員已閱讀、瞭解並同意接受該等修改或變更。若不同意上述的修訂或變更，或不接受本服務條款的其他任一約定，會員應立即停止使用本服務。
					p 如您未滿二十歲，使用本網站提供之服務時，應得法定代理人同意，並遵守本合約及相關法律規定。 若該未成年會員與交易相對人或其他第三人，因使用本網站服務所發生之糾紛，本網站概不負責。 若未滿二十歲的您使用或繼續使用本網站時，即表示您的法定代理人（或監護人）已閱讀、瞭解並同意接受本約定書之所有內容及其後續之修改或變更。
					p 會員同意使用本服務之意思表示等，皆以電子文件為表示方式。
			li
				h3.stage_tit 會員的註冊義務
				p 為了能使用本服務，您同意以下事項：
				ul.sec_stage
					li 依本服務註冊表之提示提供您本人正確、最新及完整的個人資料。
					li 加入會員時，若有資料不實或資料錯誤等問題，由登錄者自行負責。
					li 維持並更新您個人資料，確保其為正確、最新及完整。若您提供任何錯誤、不實或不完整的資料，網站名稱有權暫停或終止您的會員帳號，並拒絕您使用本服務之部分或全部。
					li 若登錄不實的資料被發現時，網站管理者有權利直接停止服務或取消服務契約，本網站或第三者所受到的損失，由涉此事件的會員來承擔負責。
					li 用假名或他人的身份訊息加入會員者，無法得到法律上的保護且必須為此擔負民法和刑法上所有的責任。
			li 
				h3.stage_tit 本網站隱私權政策
				.textedit
					p 關於您的會員註冊以及其他特定資料依本網站「隱私權保護政策」受到保護與規範。 當您使用本服務時，您同意本網站依據「隱私權保護政策」進行您個人資料的蒐集、處理與利用，包括跨國間的傳輸與儲存及本網站及其關係企業內部之利用。
			li 
				h3.stage_tit 帳號、密碼及安全
				ul.sec_stage
					li 會員帳號或密碼資料不能揭露、轉讓、贈與、出租或借貸予他人。
					li 無正當理由，非經本網站之書面同意，會員不能與他人共用帳號。
					li 會員自身的帳號被偷竊或遭第三者盜用時，應立即通報本網站，依照本網站所指示的步驟處理。
					li 會員有責任維持密碼及帳號的機密安全，會員對自身的帳號和密碼因管理不善或不當的疏失，致所發生的一切損失應自行負責。
			li 
				h3.stage_tit 使用者的守法義務及承諾
				.textedit
					p 您承諾絕不為任何非法目的或以任何非法方式使用本服務，並承諾遵守中華民國相關法規及一切使用網際網路之國際慣例。 您若係中華民國以外之使用者，並同意遵守所屬國家或地域之法令。 您同意並保證不得利用本服務從事侵害他人權益或違法之行為，包括但不限於：
				ul.sec_stage
					li 上載、張貼、公布或傳送任何誹謗、侮辱、具威脅性、攻擊性、不雅、猥褻、不實、違反公共秩序或善良風俗或其他不法之文字、圖片或任何形式的檔案於本網站上。
					li 侵害或毀損他人名譽、隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利。
					li 侵害他人名譽、隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利。
					li 違反依法律或契約所應負之保密義務。
					li 冒用他人名義或使用虛假電子郵件使用於本網站。
					li 傳輸或散佈任何含有電腦病毒或任何對電腦軟、硬體產生中斷、破壞或限制功能之程式碼之資料。
					li 從事不法交易行為或張貼虛假不實、引人犯罪之訊息。
					li 從事未經本網站事前授權之商業行為。
					li 追蹤他人或其他干擾他人或為前述目前蒐集或儲存他人之個人資訊。
					li 刊載、傳輸、發送垃圾郵件、連鎖信，違法或未經本網站許可之多層次傳銷訊息及廣告等；或儲存任何侵害他人智慧財產權或違反法令之資料。
					li 對本服務其他用戶或第三人產生困擾、不悅或違反一般網路禮節致生反感之行為。
					li 偽造訊息來源或以任何方式干擾傳輸來源之認定。
					li 未經本網站事前書面同意，不得下載、公開傳輸、轉載、重製、修改、販賣、轉賣、商業利用本網站及其內容，亦不得蒐集或利用本網站刊載之商品目錄、描述、價格等資料。
					li 其他不符本服務所提供的使用目的之行為或本網站有正當理由認為不適當之行為。
					li 本網站有正當理由認為不適當之行為。
			li 
				h3.stage_tit 系統服務終止或故障
				.textedit
					p 本網站為了維持良好服務，將盡可能維護保持系統良好之運行，在設備發生障礙或故障時，本網站會儘快修理恢復其運作，或許將造成您使用上的不便、資料喪失、錯誤、遭人篡改或其他經濟上損失等情形。
					p 您於使用本服務時宜自行採取防護措施，網站名稱對於您因使用（或無法使用）本網站而造成的損害，除故意或重大過失外，不負任何賠償責任。 若有以下有關狀況發生，本網站將停止服務：
				ul.sec_stage
					li 為了進行補修工作及系統正常維護，不得不停止服務時。
					li 天災、事變等不可抗力事件或通訊業者必須停止電子通訊服務的狀況時。
			li 
				h3.stage_tit 商品價格及其價格變化
				.textedit
					p 產品的價格將在本網站官方網站上標示。 這類資訊可能隨時更改且不發出任何通知。 商品運送費用依運送地、商品種類、用戶選擇送貨方式的不同而異。
					p 若本網站商品發生錯誤定價時，將採取下列措施之一：
				ul.sec_stage
					li 若商品的正確定價低於本網站的錯誤定價，則按照較低的定價向用戶銷售交付商品。
					li 若商品的正確定價高於本網站的錯誤定價，本網站會根據情況決定，在交付商品前與用戶確認是否依正確定價購買商品，或者取消訂單。
			li 
				h3.stage_tit 訂單與缺貨
				.textedit
					p 商品資訊及供貨情況，將在本網站官方網站上標示。顧客您應於送出訂單前確認上述資訊，訂購成功後系統將自動發出確認郵件。 若用戶訂購的商品發生缺貨情形，則本網站及顧客您均有權單方取消訂單，並以有效方式通知對方。 若商品送達用戶時，發生漏寄或缺貨情形，本網站將向用戶退還該部分款項或者向顧客補足剩餘商品。
			li 
				h3.stage_tit 發貨與收貨
				.textedit
					p 商品配送地區將在本網站官方網站上公告，顧客應仔細閱讀並在送出訂單前再次進行確認，確保收貨地址屬於該範圍之內，超出該範圍的訂購或配送要求，屬於無效訂單，本網站有權單方取消訂單。 在送出訂單前，顧客應再次確認配送地址，如果因為顧客地址錯誤造成延期配送或無法配送時，顧客應自行承擔責任，若造成貨物重複配送，本網站有權依照實際配送次數向顧客收取物流費用。
					p 收貨人可以為顧客本人也可以為顧客本人以外的其他人。 本網站將按訂單上所填寫的配送地址、收貨人姓名和電話進行配送。 若用戶無正當理由多次拒收貨物，則本網站有權取消該顧客以後的訂單及採取凍結、關閉帳戶，永久禁止註冊等措施，並保留追究賠償責任的權利。
			li 
				h3.stage_tit 付款與退款
				.textedit
					p 顧客需於填寫訂單時，選擇付款方式，並依照選擇的方式付款。 顧客若未能按照所選擇的方式或所要求的時間內完成付款的，本網站有權單方取消訂單。 退款方式將在本網站官方網站上進行公告。 因退貨或缺貨而產生的現金款項，將依照原支付方式進行退款。
			li 
				h3.stage_tit 退貨與換貨
				.textedit
					p 退換貨須知將在本網站官方網站上進行公告。 顧客在申請退換貨前應仔細閱讀並理解，並按照相關流程和要求完成退換貨。
			li 
				h3.stage_tit 智慧財產的保護
				.textedit
					p 本網站所使用之軟體、圖片或程式，網站上所有內容包括但不限於圖像、產品設計、著作、圖片、檔案、資訊、資料、網站畫面的安排、網頁設計均由本網站或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。
					p 任何人未經本網站及權利人授權，不得以任何方式擅自使用、展示、修改、重製，公開播送、公開傳輸、轉載、改作、散佈、發行、公開發表，進行還原工程解編或反向組繹。 如有違反，除依著作權法及相關法律規定論處，並應對本網站負損害賠償責任（包括但不限於訴訟費用及律師費用等）。
					p 尊重智慧財產權是您應盡的義務，如有違反，您應對網站名稱負損害賠償責任。
			li 
				h3.stage_tit 著作權侵害處理
				.textedit
					p 網站名稱尊重他人著作權，亦要求我們的顧客同樣尊重他人著作權，您瞭解並同意我們將依據「著作權保護政策」保護著作權並處理著作權侵害之事宜。
					p 您使用本服務若有三次涉及侵權情事者，網站名稱將終止您全部或部分服務。又若您所涉及侵權情事嚴重者，網站名稱亦得暫停或終止您全部或部分服務。
			li 
				h3.stage_tit 準據法與管轄法院
				.textedit
					p 本約定書之解釋與適用，以及與本約定書有關的爭議，將依照中華民國法律規定，並以台灣台中地方法院為第一審管轄法院。


block lightbox
	//- lightbox
		