extend layout/_layout.jade

block top_content
	.container
		.row
			.col-xs-12
				ol.breadcrumb
					li
						a(href='index.html') Mystar
					li.active 隱私權政策
block content
	.col-xs-12.col-md-10.col-md-offset-1
		.title.news
			h2 隱私權政策
		.textedit
			p 歡迎您來到明馨美容企業有限公司
			p 親愛的朋友，感謝您進入明馨美容購物商城，明馨美容一向將使用者個人資料、隱私權的尊重及保障，視為明馨美容經營的基本政策。 為了幫助您瞭解我們是如何蒐集、處理及利用您在明馨美容所提供的個人資料，請您詳細閱讀明馨美容個人資料蒐集告知及隱私權保護政策。 這份政策亦構成明馨美容會員約定同意書的一部分。
			p 明馨美容購物商城電子商務網站(以下簡稱本公司)，依據本公司使用條款及其他相關規範、公告等提供您完整的服務。 以下文章詳述本公司為您提供服務的同時，您必須了解的相關事項，請您於初次購物前，詳細閱讀並同意本公司使用條款後再進行後續購物流程。
		ol.stage.chinese
			li
				h3.stage_tit 同意條款
				ol
					li 當您使用本公司服務時，即表示您已詳細閱讀、了解和接受本公司會員規範及相關法律規定之所有內容，如您有違反本服務條款所述之行為時，本公司得隨時依據相關規則暫停或終止您使用本公司網站服務。
					li 本公司有權因應營運之需求，隨時調整本公司服務條款之內容，除對您已完成之購物權益有重大影響外，本公司將不會個別通知。本服務條款一旦更動，本公司將於本公司首頁連結公布修改內容，建議您隨時注意該等修改或變更，以維護您的權益。 而本公司修改後之服務條款一旦於本公司網站上公布，即有效取代先前服務條款或協議。 若您於本公司服務條款進行任何修改或變更後繼續使用本服務，即視為您已詳細閱讀、了解和接受該等修改或變更。
					li 若您於法定年齡上未滿二十歲，請您在父、母或監護人的陪同下，詳閱本公司使用條款並同意後，才進行相關購物流程。當您使用或繼續使用本公司服務時，即推定您及法定代理人或監護人均同意後續在本服務條款之所有內容及其後修改變更，並擔保已取得法定代理人或監護人同意。
					li 如不同意本公司使用條款之全部或部分內容及或不同意本公司對於使用條款之全部或部分修改、變更、終止之權利，又或您所屬國家或地域排除本服務條款內容之全部或部分者，請您立即停止使用本公司及其網站之相關服務。
			li
				h3.stage_tit 使用者之義務
				.textedit
					p 當您使用本服務時，需承諾絕不為任何非法目的或以任何非法方式使用本服務，並承諾遵守中華民國相關法規及一切使用網際網路之國際慣例。 並保證不得利用本公司從事任何侵害他人權益或違法之行為，且應遵守下列規定，包括但不限於：
				ol
					li 不得冒用他人名義使用本公司相關服務。
					li 不得使用程式或其他方法自動大量申請或蒐集本公司檔案作為廣告或寄送廣告資料之用。
					li 不得使用程式或其他方法干擾本服務系統之正常運作或傳輸、散佈電腦病毒。
					li 其他任何本公司有正當理由認為不適當之行為。
			li
				h3.stage_tit 註冊義務
				ol
					li 申請會員時，請提供您本人的真實、正確、完整及最新的個人資料。
					li 不得提供任何錯誤、不實、過時、不完整或具誤導性的資料。
					li 如您於註冊時填寫的個人資料有全部或部分變更，請隨時更新以確保其符合上列規範。
				.textedit
					p 若您違反前開保證，本公司有權暫停或終止您的帳號，並拒絕您於現在和未來使用本服務之全部或任一部份。
			li
				h3.stage_tit 隱私權政策
				ol
					li 適用範圍：隱私權保護政策內容，包括本網站如何處理在您使用網站服務時收集到的個人識別資料。 隱私權保護政策不適用於本網站以外的相關連結網站，也不適用於非本網站所委託或參與管理的人員。
					li 您註冊或使用本公司相關服務時，所涉及的個人資料蒐集、運用，將根據本公司隱私權政策即已生效之個人資料保護法來保護（採用與金融機關同等級之特殊防盜、防駭處理）。 但經由本公司連結之網站，因各網站均有其專屬之隱私權政策，當您在這些網站作業時，關於個人資料之保護，則適用各該網站的隱私權政策，本公司不為其行為負責。
					li 您在使用本公司服務、參加本公司活動或瀏覽網頁時，網站會自動接收紀錄您瀏覽器上的伺服器，包含但不限於IP位置、Cookie及您點擊的網頁紀錄。
					li 個人資料保護法應告知事項：
						ul.sec_stage
							li 蒐集機關名稱：本公司購物商城
							li 目的：提供本公司相關服務、行銷、客戶管理、其他與第三人合作之行銷推廣活動。
							li 類別：識別類（姓名、地址、聯絡電話、電子郵件信箱）、特徵類（年齡、性別等）、社會情況類（興趣、休閒、生活格調、消費模式等）、其他（往來電子郵件、網站留言、系統自動記錄之軌跡資訊等）。
							li 期間：本公司會員資格有效期間及終止後六個月；若非本公司客戶則於該蒐集個人資料之目的消失後六個月。
							li 地區：本公司執行業務及伺服器主機所在地，目前為台灣地區。
							li 對象：本公司及本公司委外之協力廠商（例如：提供物流、金流或活動贈品、展示品之廠商）；如為本公司與其他廠商共同蒐集者，將於該共同蒐集之活動中說明。
							li 方式：依蒐集目的範圍及本隱私權政策進行利用。
					li 個人資料蒐集、處理及利用說明：
					li 當您瀏覽本公司相關網站時，並不需要輸入個人資料，例如姓名或電子信箱位址等，除非明確告知，我們不會在使用者不知情的情況下，取得使用者此等個人資料。 惟某些情況下，根據本公司所提供的不同服務，將要求使用者登錄個人資料，以便與使用者聯繫、完成交易、提供服務或處理訂閱程序，在此等情況下，本公司及相關網站或其合作對象將明白告知使用者此等事實。
						br
						|本公司透過本公司網站所取得的個人資料，皆僅供本公司於其內部、依照原來所說明的使用目的和範圍，除非事先說明、或依照相關法律規定，否則不會將資料提供給第三人、或移作其他目的使用。利用之目的例示如下：
						ul.sec_stage
							li 會員註冊與登錄：以會員身分使用本公司所提供的各項服務時，將於頁面中自動顯示會員資訊。使用本服務請正確填寫您的姓名、地址、電子郵件信箱地址等必要資料，當您填寫並同意送出後，即代表同意本公司蒐集、處理及利用您的個人資料，並以電子文件取代書面形式。當您在本公司主動註冊成為會員後，您可以隨時利用您的帳號及密碼更改您所輸入的任何個人資料（如：姓名、暱稱、住址、電話、電子信箱等）。
							li 線上活動及網路調查：當您參與線上活動（Campaign）或網路調查（Survey）時，為提供本公司相關服務或行銷目的，本公司可能會請您提供姓名、身分證字號、電話、電子郵件信箱、出生年月日及住址等。當您填寫並同意送出後即代表同意本服務蒐集、處理及利用您的個人資料，並以電子郵件取代書面形式。
							li 其他個人資料：除上述條例之外，本公司會保留您在上網瀏覽或查詢時，伺服器自行產生的相關紀錄，包括您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料紀錄等。此舉大多基於輔助作用，例如儲存您偏好的特定種類資料，或儲存相關密碼以方便您日後登入本公司時不必再次輸入密碼，並不含任何資料足使他人透過電話、電子郵件與您聯絡。
							li 傳送電子郵件之政策：本公司將在事前或註冊登錄取得您的同意後，傳送資料或回覆電子郵件給您，並提供您能隨時停止接收這些資訊的方法、說明或功能連結。
					li 訊息使用：本公司不會向任何人出售或出借您的個人資訊，除非事先得您的允許同意或為提供您所要求的產品、服務所需（例如：提供物流、金流或活動贈品、展示品之廠商）。為服務會員的目的，您同意本公司可透過使用您的個人資訊，向您提供服務，包含但不限於向您寄送活動消息和服務訊息等
					li 通知方式：您同意與本公司或於本公司使用或購物所產生之交易，透過電子郵件、文件、傳真、電話或其他任何直接間接聯絡方式為表示方式，向您所提出之詢問進行回復或作為本公司其他相關服務之聯繫。
					li 訊息披露：本公司將遵守個人資料相關法令的規定，除依本公司使用條款、隱私權政策或法律規定外，不會違法利用您的個人資料。在下列的情況下，本公司有可能會提供您的個人資料給相關機關，或主張其權利受侵害並提示司法機關正式文件之第三人：
						ul.sec_stage
							li 經過您的同意向第三方披露。
							li 基於公共利益或為維護和改進網站服務而用於管理層面。
							li 為維護其他客戶或第三人之合法權益。
							li 配合相關司法或行政機關基於法定程序之要求。
							li 使用者有任何違反中華民國政府法令或本服務條款等相關政策的情況，您的個人資訊將在下列情況部分或許會全部被披露。
							li 為了提供您所要求的產品、服務，而必須分享您的個人資訊予產生的金流、物流或其他協力廠商等第三方或合作廠商必要資訊
					li 政策修改：隨著市場環境及政府政策的變動，本公司將保留對本隱私權政策做出不定時修改的權利，並會將更新之條款公布於本公司首頁，請您隨時注意本政策是否有所更新，以維護您的權益。
					li 自我資料安全保護措施
						ul.sec_stage
							li 請妥善保管您的網路密碼及個人資料，切勿提供給任何第三人，以保障您的權益，並提醒您，在您使用完本公司所提供的各項服務功能後，務必記得登出帳戶，若您是與他人共享電腦或使用公共電腦，切記要關閉瀏覽器視窗
							li 使用者對於其個人資料有查詢及閱覽、至給複製本、補充或更正、停止電腦處理及利用等需求時，可以隨時向本公司要求更正，請與客服人員聯繫，本公司將迅速進行處理。
							li 除了您主動登錄時所提供的個人資料外，您自願於網路上（包括但不限於討論區、留言版等）提供的個人資料如電子郵件、姓名等形式的資料提供，不在本隱私權保護政策的範圍之內。
			li
				h3.stage_tit 交易須知
				ol
					li 本公司所提供之商品數量有限，請您於挑選後盡速完成訂購程序，放入購物車不代表您已經完成訂購，若有其他使用者在您完成訂購程序前已經完成訂購程序，則對方將擁有商品優先出貨權利，如因此造成商品已售畢，請您自購物車上移除。
					li 您得依據本公司所提供的確認商品數量及價格機制進行下單，本公司對於您的下單內容，除下單後2個工作日之內附正當理由拒絕外，視交易成立。
					li 本公司得就特定商品訂定個別消費者每次訂購的數量上限。逾越該數量上限進行下單或同一消費者以複數帳號重複、多次下單時，本公司僅負對單一消費者依該數量上限出貨之責任。
					li 本公司商品之運送依您訂購時選擇及指定之方式為之，商品之定價不含運費。惟若您符合一定活動優惠條件時，將依您選擇之商品運送方式，由本公司負擔運費。若您因商品不正常退貨致物流費用增加時，本公司將自您解約退款金額中收取該筆訂單額外增加的物流費用（運送費用依下單時本公司公告為準）。
					li 您得依消費者保護法第19條規定，於貨到簽收後7日之猶豫期間內，行使解除契約的權利。有關購物相關未盡事宜，請參閱本公司客服FAQ。
			li
				h3.stage_tit 智慧財產權之保護
				ol
					li 本公司所使用軟體或程式、網站上所有內容，包括但不限於：商標、著作、圖片、檔案、資訊、資料、模特兒照片、商品攝影、美術插圖、網站架構、程式設計、網站畫面的安排、網頁設計版式、其他標示或資訊等，均由本公司或其他權利人依法擁有其智慧財產權之客體，受著作權法、商標法、專利法、營業秘密法及公平交易法等之保護。任何人不得逕自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、 解編或反向組譯。若您欲引用或轉載前述軟體、程式或網站內容，必須依法取得本公司或其他權利人的事前書面同意，不得任意使用，以免涉侵權或違法之責任。
					li 本公司商標以及本公司服務標誌及產品、服務名稱（以下簡稱「商標資訊」），均由本公司經營，未經本公司事先書面同意，您同意不將本公司之商標資訊以任何方式展示或使用或作其他處理，或表示您有權展示、使用或另行處理本公司之商標資訊。
			li
				h3.stage_tit 賠償責任限制
				.textedit
					p 您同意因使用本公司或於本公司購物所生之糾紛，除法律另有強制規定者外，以您當次使用或購物所實際支付予本公司之費用之3倍為賠償責任上限。 惟任何因您違反使用條例或任何因您提供的資訊或採取的行為而蒙受的損失、負債、成本、費用及開支，包括合理的律師訴訟費用，將需向本公司全額進行賠償。
			li
				h3.stage_tit 服務終止及免責聲明
				ol
					li 本公司將以符合目前一般可合理期待安全性之方式及技術，維護本公司的正常運作。下列情形本公司有權暫停提供本公司服務的全部或部分，且不負事先通知您的義務，因而產生直接或間接的損害，均不負任何賠償或補償的義務：
						ul.sec_stage
							li 對本公司相關軟硬體設備進行搬遷、更換、升級、保養或維修。
							li 天災或其他不可抗力因素所導致的服務停止或中斷。
							li 因電信或網站公司服務中斷或其他不可歸責於本公司事由所致的服務停止或中斷。
							li 本公司遭外力影響致資訊顯示不正確、或遭偽造、竄改、刪除或擷取，或致系統中斷或不能正常運作。
							li 使用者有違反本公司使用條款或法令之情形而對該使用者暫停或終止服務。
							li 其他本公司認為有需要暫停或終止服務之情形。
							.textedit
								p 本公司針對可預知的軟硬體維護計畫，有可能導致網站暫停或終止服務時，將盡可能的於該狀況發生前，以適當方式於本公司頁面公告。
					li 本公司對於本公司服務不提供任何明示或默示的擔保或保證，包含但不限於商業適售性、一定品質及未侵害他人權利等擔保或保證，您使用本公司服務之風險必須由您個人負擔。本公司不保證以下事項：
						ul.sec_stage
							li 本公司將完全符合您的要求。
							li 本公司將不受干擾、及時提供、安全可靠或完全不會出錯。
							li 使用本公司取得之結果絕對正確可靠。
							li 您經由本公司購買或取得之任何產品、服務、資訊或其他資訊將符合您的期望。
							li 軟體中任何錯誤都將得到更正。
					li 是否使用或通過本公司下載或取得任何資料應由您自行考慮且自負風險，因任何資料之下載而導致的您電腦系統之任何損壞或資料流程失等後果，由您自行承擔，而與本公司無涉。
					li 您自本公司取得的任何建議或資訊，無論是書面或口頭形式，除非本公司服務條款有明確規定，將不構成本服務條款以外之任何保證。
					li 對於本公司超出控制範圍的原因，包括但不僅限於：天災、戰爭或恐怖主義、自然災害、依照法律法規及政策徵收的費用、貨物和服務上的短缺等影響下，造成本公司可能推遲發貨或無法履行義務的狀況，將不承擔相應責任，但在這些原因導致未出貨部分被取消的情況下，本公司將把相應貨款退還給顧客。
					li 用戶在本公司填寫之物件資訊、個人資料、上傳圖片等行為，純屬用戶個人行為，本公司對其內容之真實性或完整性不負有任何責任。
					li 任何由於電腦病毒侵入或發作、因政府管制而造成的暫時性關閉等影響網路正常經營之不可抗力而造成的資料毀損、丟失、被盜用或被竄改等與本公司無關。
					li 對於用戶透過本公司刊登或發布虛假、違法資訊、侵害他人權益及欺騙、敲詐行為者，純屬個人行為。本公司隊因此而產生的任何糾紛不負任何責任。
			li
				h3.stage_tit 準據法及專屬管轄權
				.textedit
					p 本公司使用條款任何條款的全部或一部分無效時，並不影響其他約定的效力。您與本公司的權利義務關係，應依本公司使用條款及相關適用的本公司公告或規範定之。 本協議依照中華民國的法律構建，並受其管理。 若產生爭議，您同意以台灣台中地方法院為第一審管轄法院。
			li
				h3.stage_tit 一般條款
				.textedit
					p 繼續使用本公司相關服務表示您承認已閱讀並理解該使用條款，亦同意依照這些條款和條件行動並受其約束。 在沒有本公司事先書面同意的情況下不得對使用條款有任何的調整或修改。 本公司沒有立即處理您或其他人的違反條款行為並不意味著本公司將放棄對其後果及類似違反行為的處理權力。
					p 若您作為一個團體的代理人（包括代表您的雇主），那麼您和您的團體將共同且分別承擔本協議中規定的義務。 若法院發現本協議中有任何部分、違法或者不可執行，該部分將被扣除，其餘部分則在法律允許的最大範圍內繼續保持其有效性和可強制執行性。
		.textedit
			p 良好的交易關係將使本公司提供的服務更加健全，以上條文請悉心閱讀，並同意遵守。
			p 若您對於本使用條款有任何問題，請與本公司客服人員聯繫，我們將竭誠為您服務，謝謝。
			p.text-right 願您有個愉快、豐富的網站之旅！
				br
				| mystar.com.tw　敬上

block lightbox
	//- lightbox
		