extend layout/_layout.jade

block top_content
	.container
		.row
			.col-xs-12
				ol.breadcrumb
					li
						a(href='index.html') Mystar
					li.active 購物說明
block content
	.col-xs-12.col-md-10.col-md-offset-1
		.title.news
			h2 購物說明
		.textedit
			p 依消費者保護法規定，明馨美容企業有限公司將提供您享有商品到貨七天猶豫期隨時解約退貨之權益。
			p 鑑賞期非試用期，超過鑑賞期者將不受理退貨服務。
		ol.stage
			li
				h3.stage_tit 訂單查詢：
				ol
					li 商品購買後於網頁右上方【會員資料】內查詢
					li 【消費訂單記錄內】的訂單編號可以查詢訂單詳情紀錄及出貨時間
			li
				h3.stage_tit 退、換貨注意事項：
				ol
					li 基於保障消費者權益及個人衞生考量，一但拆封試用，皆不受理替換。
					li 受限包材特性，部份外包裝材質會因原裝到貨或稍徵碰撞時產生不平整現象，不介意者再購買。
					li 寄回退換貨之商品，請包裝完整（如：商品本身之紙盒、外塑膠包護套）後，先通知客服專員欲申請替換貨事項。
					li 恕不受理未經通知而逕行退回之狀況。
			li
				h3.stage_tit 商品退貨：
				ol
					li 瑕疪品：
						p 商品瑕疪非屬買家個人因素，欲申請退貨時，請您於鑑賞期內儘速與客服專員連繫，我們將為您辦理商品全額退貨。
					li 正常品：
						p 商品在無瑕疪狀況下，因買家個人因素而欲申請退貨時，退款費用將扣除運費後退還。
					li 申請退貨方式：
						p 請先至退貨處申請商店退貨代碼，連同商品完整包裝後於商店寄出，待我們收到商品確認無誤後將會依您填寫退款資料進入退費流程，並於退款完成後以簡訊通知您。


block lightbox
	//- lightbox
		