extend layout/_layout.jade

block top_content
	.container
		.row
			.col-xs-12
				ol.breadcrumb
					li
						a(href='index.html') Mystar
					li.active 會員權益
block content
	.col-xs-12.col-md-10.col-md-offset-1
		.title.news
			h2 會員獨享
		.textedit
			h3 會員優惠
			p 加入正式會員，購物即享有美麗金15%優惠
				br
				|完備會員資料即可享有1000美麗金
				br
				|每次消費的金額10%會列入美麗金以供之後消費使用
				br
				|訂閱電子報即可享有200美麗金

			p 不論您是否有消費，凡註冊公司名稱會員，即可參與購物商城公佈之活動。
			p 無論會員與否，凡於本購物商城購物達到活動門檻即可享有免運費的優惠！
				br
				|本購物商城將不定期推出滿額贈禮、滿千送百等促銷活動。
				br
				|不定期舉辦會員美麗金加碼活動，凡於活動期間符合資格之會員，皆可參加活動並獲得優惠。



block lightbox
	//- lightbox
		