extend layout/_layout.jade

block top_content
	.container
		.row
			.col-xs-12
				ol.breadcrumb
					li
						a(href='index.html') Mystar
					li.active 忘記密碼
block content
	.col-xs-12.col-md-10.col-md-offset-1
		.title.news
			h2 忘記密碼
		form.form-horizontal.contact_form
			.form-group
				label.col-sm-2.control-label(for='')
					span.beige * 
					| 帳號
				.col-sm-10
					input.form-control(type='email', id='', placeholder='請輸入您的帳號')
			.form-group
				label.col-sm-2.control-label(for='')
					span.beige * 
					| 電子信箱
				.col-sm-10
					input.form-control(type='email', id='', placeholder='請輸入您的電子信箱')
					span.small_font.beige.help-block 請輸入收取重設密碼信件的電子信箱

			.form-group
				.col-sm-offset-2.col-sm-10
					button.btn.btn-block.btn_black(type='submit') 確認送出 


block lightbox
	//- lightbox
		