extend layout/_layout_side_l.jade

mixin service(th1,time,th2,title)
	li
		ul.service_list
			li(data-th=th1)
				p=time
			li(data-th=th2)
				p=title
			li
				block
block breadcrumb
	ol.breadcrumb
		li
			a(href='index.html') Mystar
		li
			a(href='javascript:;') 會員中心
		li.active 客服聯繫紀錄

block sidenav
	include include/_member_sidenav.jade

block content
	.title
		h2 客服聯繫紀錄
	ul.service_box
		+service('發問時間','2018-01-23','標題','問題標題一二三四五六七')
			.textedit
						p 程好不使地有立大的機頭寫委認事境決樣容最小學……國件市媽……待母倒亞管，運走選注員客提機充活打知來走。
						p 示中會成好片外起演都生禮港，公反關能一足那紅候他兒久們這計環政腦……響學投香就有人界車己綠望卻打主了度沒問上的所世較味，出發是感發女，有分火演身係得！與之機資華以待文：滿到孩來還。生候臺成的致什這班下法第準辦營中清資這星水東都今輪進果型人選如案遊地是常。
					.feedback
							p.timer 2018-02-01
							.textedit
								p 程好不使地有立大的機頭寫委認事境決樣容最小學……國件市媽……待母倒亞管，運走選注員客提機充活打知來走。
		+service('發問時間','2018-01-13','標題','問題標題一二三四五六七')
			.textedit
						p 程好不使地有立大的機頭寫委認事境決樣容最小學……國件市媽……待母倒亞管，運走選注員客提機充活打知來走。
						p 示中會成好片外起演都生禮港，公反關能一足那紅候他兒久們這計環政腦……響學投香就有人界車己綠望卻打主了度沒問上的所世較味，出發是感發女，有分火演身係得！與之機資華以待文：滿到孩來還。生候臺成的致什這班下法第準辦營中清資這星水東都今輪進果型人選如案遊地是常。
					.feedback
							p.timer 2018-02-01
							.textedit
								p 程好不使地有立大的機頭寫委認事境決樣容最小學……國件市媽……待母倒亞管，運走選注員客提機充活打知來走。
		+service('發問時間','2018-01-03','標題','問題標題一二三四五六七')
			.textedit
						p 程好不使地有立大的機頭寫委認事境決樣容最小學……國件市媽……待母倒亞管，運走選注員客提機充活打知來走。
						p 示中會成好片外起演都生禮港，公反關能一足那紅候他兒久們這計環政腦……響學投香就有人界車己綠望卻打主了度沒問上的所世較味，出發是感發女，有分火演身係得！與之機資華以待文：滿到孩來還。生候臺成的致什這班下法第準辦營中清資這星水東都今輪進果型人選如案遊地是常。
					.feedback
							p.timer 2018-02-01
							.textedit
								p 程好不使地有立大的機頭寫委認事境決樣容最小學……國件市媽……待母倒亞管，運走選注員客提機充活打知來走。

block lightbox
	//- lightbox
		