extend layout/_layout.jade

block top_content
	.container
		.row
			.col-xs-12
				ol.breadcrumb
					li
						a(href='index.html') Mystar
					li.active 品牌故事
block content
	.col-xs-12.col-md-10.col-md-offset-1
		.title.news
			h2 Mystar 品牌故事
		.textedit
			p 為什麼不能讓更多想成為美麗的妳們不用進美容SPA館也能用更優惠的價格享用到專業沙龍級的保養品？這個問題一直縈繞在經營二十幾年頂級貴婦美容SPA會館的小葉老師腦海裡。
			p 儘管有用心經營的業者值得學習，然而在網路上仍然存在著廉價劣質的保養品，看在數所大學化妝品系講師庫的小葉老師眼裡實在是憂心忡忡！是到了該改變的時候了：「如果我可以把專業沙龍使用的保養品透過網路直接送到愛美的妳們手上，把透過經銷商、地區業務、美容店家及美容師的利潤與獎金，全部都回饋給妳們，又可在網站上分享正確的專業美容知識，這不就擁有了改變的力量了嗎？」
			p 小葉老師開始使出渾身解數，運用代理與經銷十幾年國際化妝品品牌的資源與經歷，優先採用法國世界級化妝品大廠最先進最有效的美容成分，結合ISO22716化粧品GMP出口製造大廠，以小葉老師專業美容的學術背景和累積二十多年的實證，調校出最適合東方華人肌膚，尤其是台灣氣候環境的獨家保養品配方。
			p 小葉老師永遠記得早年在拿到英國城市專業學會（City & Guilds）L3國際講師級證照時，那位香港講師說的話：「評估學員不是評鑑他的能力，而是找出他的不足，運用我們講師的教導幫助每位學員達到能力的標準，這就是愛與分享！」Mystar就是在這愛與分享中誕生，這也是City & Guilds這個全球最大專業證照體系最核心的價值！
			p 每個妳，都是我們眼中最值得呵護與關愛的明星！YES,YOU ARE MY STAR！我們也樂意分享我們的所有，我和你將一起看見你的美麗在盡情地綻放，這會是我們最大的喜悅與滿足！正如同小葉老師二十幾年來所親眼看見，眾多如雲彩般圍繞著我們的美麗見證。

			.block-center.text-center
				p
					img(src="images/story.png", alt="City & guilds")
				b
					a(href="http://www.cityandguilds.com.hk/", target='_blank') City & guilds是全球最大證照體系

block lightbox
	//- lightbox
		