extend layout/_layout.jade

block top_content
	.container
		.row
			.col-xs-12
				ol.breadcrumb
					li
						a(href='index.html') Mystar
					li.active 消息標題一二三四五六七
block content
	.col-xs-12.col-md-10.col-md-offset-1
		.title.news
			h2 最新消息
		.textedit
			h3 消息標題一二三四五六七
			p 是聞義色我裝的題必法；境少員事府必於利使斷了當是他人治黃可人問對路健一就類不黨小友花況，的師巴安有覺著一，國這兒現以人，當通文另：認樂歡業期斷研一便吃呢明以生品；新著了，它長如也單，太同風先留單有自這了！黨向間人同又票當要般，市息海升國！麼對上醫很經朋，統文內小什成清無利本什當！步聯一市我麼裝望兩天一事想面不龍。國表局賽然，證收雙！許教麼角子腳花車時類自我破期腦旅那林值他叫大外對看木期我內，家到單有在兒通經需廣就水質空再是……們她適雖生下樣來德……我兒亞的星過……自明物多來濟山起第員手個和，生說克一人首面持界未生終獲大女山克師雖平國加覺象是但樂自作，此裡經要會生了場這種火師好導良山積了研們里……長必有。
			p 始解證口它的開文多般聲法公正象直此修一，雖目法細成提麼玩的時例生就專空林度力當夜得中頭風部因頭，青見己不信；標用兒中安環長亮活到。
			p 不我車果總空就規著反風無：算灣問！醫以起太結手世們空聽孩類及開建對歡與專。
		ul.news_btnlist
			li
				a.btn.btn-xs.btn_black(role='button', href="#") PREV
			li
				a.btn.btn-xs.btn_black(role='button', href="#") 回列表
			li
				a.btn.btn-xs.btn_black(role='button', href="#") NEXT


block lightbox
	//- lightbox
		